body {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin:auto;
}

nav {
  text-align: center;
  background: rgb(235, 245, 225);
}

nav a {
  padding-right: 10px;
  padding-left: 10px
}

figcaption {
  text-align: center;
  font-size: 10px
}

p #featured-property {
  width: 800px;
  text-align: center;
}

#details {
  display: block;
}

div #details {
  float: left;
  background-color: rgb(135, 145, 125);
  width:25%;
}